
.instructor-header{

    height: 200px;
    overflow: hidden;

    @include media(">phone", "<=tablet") {

        height: auto;
                
    }

    h1{

        text-align: left;

    }


}
