.password-reset-container {
    .password-reset-header {
        padding: 5rem 0 2rem 0;
        background-color: #01273f;
        text-align: center;
    }
    .resetPasswordForm {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .form-group,
        .form-submit{

            width: 50%;

            @include media(">phone", "<=tablet") {
                width: 80%;
            }

        }

        .resetPasswordText{

            text-align: center;

        }
    }
}