@import "./settings/settings";

* {
    direction: rtl;
    text-align: right;
}
.col-md-6, .col-md-3, .col-md-4, .col-md-12, .col-xs-12 {
    float: right;
}
.float-xs-right {
    float: left !important;
}
.float-xs-left {
    float: right !important;
}
.navbar-nav .nav-item {
    float: right;
}
.dropdown i, .nav-item i {
    margin-right: 0rem;
    margin-left: 0.5rem;
}
.breadcrumbs-right .breadcrumb {
    float: left;
}
.zidni-site-icon img {
    left: auto;
    right: -5px;
}
.dropdown-menu-right {
    left: 0 !important;
    right: auto !important;
}
.dropdown-menu {
    text-align: right;
}
.dropdown-messages .media-left, .dropdown-notification .media-left {
    padding-right: 0;
    padding-left: 30px;
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .avatar, .header-navbar .navbar-container ul.nav li > a.nav-link i.flag-icon {
    margin-right: 0;
    margin-left: 0.5rem;
}
.dropdown-toggle {
    &::after {
        right: auto;
        left: 0;
    }
}
.header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    margin-left: 0;
    margin-right: 0.2rem;
}
.navbar-brand {
    margin-right: 0;
    margin-left: 1rem;
}
body.vertical-layout.vertical-menu.menu-expanded .navbar {
    .navbar-header {
        float: right;
    }
    .navbar-container {
        margin-left: 0;
        margin-right: 240px;
        padding: 0px 0rem 0 1rem;
        ul.nav li a.nav-link-label {
            padding: 1.4rem 2rem 1rem 1rem;
        }
    }
}
.nav {
    padding: 0 10px 0 0;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-brand {
    margin: 0 5px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-header {
    float: right;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu, body.vertical-layout.vertical-menu.menu-collapsed .main-menu {
    left: auto;
    right: 0;
}
body.vertical-layout.vertical-menu.menu-expanded .content, body.vertical-layout.vertical-menu.menu-expanded .footer {
    margin-left: 0;
    margin-right: 240px;
}
body.vertical-layout.vertical-menu.menu-collapsed .content, body.vertical-layout.vertical-menu.menu-collapsed .footer {
    margin-left: 0;
    margin-right: 60px;
}
body.vertical-layout.vertical-menu.menu-collapsed .navbar .navbar-container {
    margin-left: 0;
    margin-right: 60px;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation > li > a > i {
    float: right;
    margin-right: 0.5rem;
    margin-left: 12px;
}
body.vertical-layout.vertical-menu.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
    right: auto;
    left: 20px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > ul.menu-content {
    left: auto;
    right: 60px;
}
body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content > span.menu-title, body.vertical-layout.vertical-menu.menu-collapsed .main-menu .main-menu-content a.menu-title {
    right: auto;
    left: -240px;
    text-align: right;
}